{
  "root": true,
  "extends": [
    "standard",
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:json/recommended",
    "plugin:markdown/recommended",
    "plugin:yml/recommended",
    "plugin:yml/prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "overrides": [
    {
      "files": [
        "*.yml"
      ],
      "rules": {
        "camelcase": "off",
        "no-labels": "off",
        "no-unused-labels": "off",
        "no-unused-expressions": "off"
      }
    }
  ]
}